#main-title {
    height: 80px;
    width: 100%;
    background-color: green;
    font-size: 40px;
    font: white;
}

#UVindex {
    color: white;
}

#search-request {
    background-color: brown;
}

#current-condition {
    background-color: cadetblue;
}

#UVindex {
    background-color: red;
}