#main-title {
    height: 100px;
    width: 100%;
    background-color: rgb(101, 230, 247);
    font-family: serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

body {
    background-color: rgb(22, 167, 224);
}

.low {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.high {
    background-color: orange;
}

.very-high {
    background-color: red;
}
/* 
#search-request {
    background-color: brown;
} */

#current-condition {
    background-color: cadetblue;
}